:root {
  --theme-1: #010615;
  --theme-2: #292930;
  --theme-3: #08121c;
  --theme-4: #18beba;
  --theme-5: #28485f;
  --theme-6: #464b4e;
  --theme-7: #c1c6c9;
  --theme-8: #efefef;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 20px;
  --spacing-5: 32px;
  --border-radius: 5px;
  --font-family: Roboto, Helvetica, Arial, sans-serif-black;
  --font-size: 14px;
  --font-size-lg: 16px;
}

* {
  box-sizing: border-box;
}

#c2d {
  background: var(--theme-2Aaa);
  image-rendering: pixelated;
  width: calc(100% - 14px);
  max-width: 1000px;
}

html,
body {
  margin: 0;
  background: var(--theme-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  flex-wrap: wrap;
}

button {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
